@page "/js1"
@model BlazorSchulungV8.Components.Pages.Modul8.IndexModel
@{
}
<button onclick='alert("hallo");'>click</button>

<script>
    function test() { 
        document.title = "Hallo Title";


    }
</script>