@page "/todo"
@inject IHttpClientFactory client
<h3>Todos</h3>
<div class="container">
    <div class="row">

        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item active ">Todos</li>
                @if (Liste == null)
                {
                    <li class="list-group-item ">
                        keine Daten
                    </li>
                }
                else
                {

                    @foreach (var item in Liste)
                    {
                        <li class="list-group-item ">
                            @item.title
                        </li>
                    }
                }
            </ul>
        </div>

    </div>
</div>
@code {
    List<ToDoModel> Liste;

    protected override async Task OnInitializedAsync()
    {
        using (var http = client.CreateClient())
        {
            Liste = await http.GetFromJsonAsync<List<ToDoModel>>("https://jsonplaceholder.typicode.com/todos");
        }

    }
}
